.content-container
  width 100%
  margin 3rem auto 0
  padding 3rem 0 0
  color #444
  font-family 'Roboto Slab', serif;
  .virtual-scroll-viewport
    height calc(100vh - 96px)
  p
    width 80%
    margin 2rem auto
