.content-container
  width 100%
  margin 3rem auto 0
  padding 3rem 0 0
  color #444
  font-family 'Roboto Slab', serif;
  .virtual-scroll-viewport
    height calc(100vh - 150px)
  p
    position relative
    width 80%
    margin 2rem auto
    &::before
      content attr(data-paragraph-id) ". "
      position absolute
      left -50px
      width 40px
      text-align right
      color #ccc
