.content-container
  width 100%
  margin 7rem auto 0
  padding 3rem 0 0
  color #444
  font-family 'Roboto Slab', serif;
  virtual-scroller
    width 100%
    height calc(100vh - 96px)
  p
    position relative
    width 80%
    margin 2rem auto
    &::before
      content attr(data-paragraph-id) ". "
      position absolute
      left -43px
      width 40px
      text-align right
      color #ccc

.loader
  padding 20px
  text-align center
  font-family 'Montserrat', sans-serif
  font-weight 100
  font-size 1.3rem
  text-decoration underline
